<block-ui></block-ui>
<div *ngIf="activarComponent">
  <app-acordeon></app-acordeon>
</div>
<app-modal-notifica></app-modal-notifica>
<div *ngIf="activarComponent === false">
  <div class="border rounded text-center m-3">
    <h6 class="my-5 text-danger">No se logró cargar exitosamente el proyecto.</h6>
  </div>
</div>
<div *ngIf="activarComponent === undefined">
  <div class="border rounded text-center m-3">
    <h6 class="my-5 small">Cargando proyecto, por favor espere...</h6>
  </div>
</div>
