/* You can add global styles to this file, and also import other style files */

.tamano {
  padding: 0px 10px;
  height: 22px;
  border-radius: 50rem !important;
}

.boton-rojo {
  background-color: #ef3829;
  color: white;
}

.boton-rojo:hover {
  background-color: #b7202e;
  color: white;
}

.input-peque {
  font-size: 12px;
  height: 22px;
  padding: 0px 5px;
}

.col-form-label {
  font-weight: bold;
  font-size: 12px;
  padding: 0px;
}

.btn {
  font-size: 12px;
  border: 0px;
}

.btn-success {
  background-color: #008000;
}

.btn-success:hover {
  background-color: #016901;
}

.text-success {
  font-size: 12px;
  color: #008000;
}

.btn-secondary {
  background-color: #757575;
}

.btn-secondary:hover {
  background-color: #6b6969;
}

.btn-danger {
  background-color: #da291c;
}

.text-danger {
  font-size: 12px;
  color: #da291c !important;
}

.btn-danger:hover {
  background-color: #aa1a10;
}

.h5 {
  font-size: 20px;
}

.close {
  font-size: 14px;
}

.alerta-negativa {
  color: white;
  background-color: #b1070fc7;
}

.alerta-positiva {
  color: white;
  background-color: #008000cc;
}

.mdl-dialog {
  width: fit-content !important;
  min-width: 30% !important;
  padding: 30px;
  border-radius: 5px;
}

.acordeon-secundario {
  color: #757575 !important;
  background-color: #DEDEDE;
}

.acordeon-activo{
  background-color: #DA291C;
  color: white !important;
}

.text-info {
  font-size: 12px;
  color: #17a2bb !important;
}

.mantener-verde {
  background-color: #008000 !important;
  color: white !important;
}
